.page-title {
  color: white;
  margin: 40px auto auto 40px;
}

.movies-gallery {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  margin-bottom: 5%;
}

.movies-container {
  display: flex;
  flex-direction: row;
}

.movies-gallery:hover {
  overflow-x: scroll;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

.controls {
  position: absolute;
  height: 100%;
}

.arrow-left, .arrow-right {
  font-size: 20px;
  width: 80px;
  cursor: pointer;
  border: none;
  opacity: .1;
  transition: all 600ms ease-in-out;
    /* position: absolute;
    height: 100%; */
}

.arrow-left {
  background: linear-gradient(to left, transparent 0%, black 200%);
  left: 0;
  right: auto;
}

.arrow-right {
  background: linear-gradient(to right, transparent 0%, black 200%);
  right: 0;
  left: auto;
}

.arrow-left:hover, .arrow-right:hover {
  opacity: 1;
}
