.page-title {
  color: white;
  margin: 40px auto auto 40px;
}

.movies-gallery {
  display: flex;
  flex-direction: row;
}

.movies-container {
  display: flex;
  flex-direction: row;
  margin: 2%;
  width: 96%;
  overflow-x: hidden;
}

.movies-container:hover {
  overflow-x: scroll;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

.arrow-left, .arrow-right {
  /* position: absolute;
  top: 0;
  bottom: 0; */
  font-size: 20px;
  width: 40px;
  /* height: 100%; */
  cursor: pointer;
  border: none;
  opacity: .1;
  transition: all 600ms ease-in-out;
}

.arrow-left {
  background: linear-gradient(to left, transparent 0%, black 200%);
  left: 0;
  right: auto;
}

.arrow-right {
  background: linear-gradient(to right, transparent 0%, black 200%);
  right: 0;
  left: auto;
}

.arrow-left:hover, .arrow-right:hover {
  opacity: 1;
}
