.page-title {
  color: white;
  margin: 40px auto auto 40px;
}

.menu_horizontal {
	position: relative;
}

.conteudocaixas{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 5%;
}

.imagemcaixas{
  margin-top: 5px;
  height: auto;
  display: inline-block;
}

.position_btcx{
  display: inline-block;
  margin: 6px 10px 0 0;
}

.button_cx{
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 20px;
  width: 40px;
  height: 100%;
  cursor: pointer;
  opacity: .0;
  border: none;
}

.button_cx i {
  font-size: 30px;
  background-color: transparent;
  color: white;
}

.r {
  right: 0;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.l {
  left: 0;
  background: linear-gradient(to left, transparent 0%, black 200%);
}

.button_cx:hover {
  opacity: 1;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}
