/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(54, 54, 54);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
