* {
  background-color: transparent;
}

.movie_container {
  color: white;
  text-shadow: black 2px 2px 0;
  background-color: rgba(10,23,55,0.7);
}

.movie_details {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.wrapper {
  padding: 2%;
  /* width: 100vw; */
  height: 100vh;
  background-color: rgba(10,23,55,0.7);
}

.title_logo {
  display: flex;
  flex-direction: row;
}

.movie_title {
  font-size: 50px;
}

.company_logo {
  max-width: 10%;
  max-height: 75px;
  margin: auto;
  margin-right: 5%;

  -webkit-filter: drop-shadow(0px 0px 2px rgba(255 255 255 / 100%)); 
  filter: drop-shadow(0px 0px 5px rgba(255 255 255 / 100%));
}

.creators {
  display: flex;
  flex-direction: row;
}

.creators_tag {
  margin-right: 1%;
}

.creator {
  margin-right: 1%;
}

.movie_date {
  font-size: 22px;
  margin: 1% 0 2%;
}

.movie_genres {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 1% auto;
}

.btn_voltar {
  margin-bottom: 1%;
}

.overview {
  margin: 2% auto;
}

.movie_overview {
  margin: 1% 0;
  width: 40%;
  font-size: 20px;
}

.seasons_container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* flex-wrap: wrap; */
  gap: 1%;
}

.season {
  flex-shrink: 0;
  font-size: 20px;
  margin-bottom: 1%;
  background-color: #606060;
  border-radius: 15px;
  padding: .5% 1%;
  cursor: pointer;
}

.episodes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.episode {
  margin: 2%;
  background-color: transparent;
}

.btn_voltar i {
  font-size: 30px;
  background-color: transparent;
}

p, h1, h2, a {
  background-color: transparent;
}
